@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&display=swap");

:root {
  --lightColor: #f0f4ed;;
  --lightGrey: #dfdfdf;
  --lightGreen: #b0f097;
  --darkLime: #55ac08;
  --sottel: "Sottel", sans-serif;
}

.navbar {

  z-index: 1;
  width: 100%;
  background-color: var(--lightColor);
}

.navbar-collapse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}


#hero {
  padding: 3% 5%;
}

#recipes {
  display: flex;
  justify-content: space-around;
  padding: 2% 5%;
  border-top: 1px solid var(--lightGreen);
}

.btn {
  background: var(--darkLime);
  color: var(--lightColor);
  font-family: var(--sottel);
  border-color: var(--darkLime);
  border-width: 2px;
  padding: 5px 10px;
}

.btn-fav {
  border: none;
  margin-left: 20px;
}

.btnshadow:hover {
  box-shadow: 0 30px 30px var(--darkLime);
}
.btn:hover {
  box-shadow: 0 6px 10px var(--darkLime);
  background-color: var(--lightColor);
  border-color: var(--darkLime);
  color: var(--darkLime)
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}

.favouriteIcon:hover {
  cursor: pointer;
}

.icons-link {
  padding: 15%;
}

.icons-container{
  padding: 3%;
}

.dialog {
  border-color: var(--lightGrey);
  border-radius: 15px;
}

.modal-header {
  justify-content: end;
}


.modal-body {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
}

.modalImg {
  width: 100%;
}

@media (min-width: 768px) {
  .modal-body {
    width: 700px;
    min-width: 500px;
    min-height: 500px;
  }
}

#reserved {
  color: black;
}

.favouriteIcon:hover{
  cursor:pointer;
}

.favourite:hover{
  cursor:pointer;
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card {
  border: 1px solid var(--lightGreen);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
  transition: box-shadow 0.3s ease; /* Optional: Smooth transition on hover */
  padding: 0;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.card-deck {
  justify-content: space-between;
}

#recipes {
  justify-content: space-between;
}
.notification {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    position: absolute;
    white-space: nowrap;
  }
  
  .notification.error {
    background-color: yellowgreen;
  } 

  .btn-close {
    border-color: white;
  }

  .btn-close:focus {
    outline: none;
    box-shadow: none; /* Якщо браузер додає тінь */
  }
  
  .modal-body {
    padding: 20px;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .recipe-header {
    text-align: center;
    padding: 10px 0;
  }
  
  .recipe-header h2 {
    color: var(--darkLime);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .recipe-image {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Ingredients and instructions styling */
  .subtitle {
    margin-top: 20px;
    color:#55ac08;
  }
  .ingredients-list,
  .recipe-instructions {
    padding-left: 20px;
    margin: 15px;
  }
  
  .ingredients-list li,
  .recipe-instructions li {
    padding: 5px 10px;
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    border-bottom: 1px dashed var(--lightGreen);
  }
  
  .ingredients-list li::marker,
  .recipe-instructions li::marker {
    color: #55ac08;
    font-weight: 700;
  }

  .ingredients-list li:last-child,
  .recipe-instructions li:last-child {
    border-bottom: none;
  }
    
  /* Action buttons */
  .recipe-actions {
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn-action {
    border: none;
    background: none;
    width: 45px;
  }
  
  .recipe-actions {
    display: flex;
    gap: 10px;
  }

  .btn-action {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 25px 0;
  }

  .tooltip {
    position: absolute;
    bottom: 110%; /* Размещаем над кнопкой */
    left: 50%;
    transform: translateX(-50%);
    background-color:#b0f097;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .btn-action:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  